<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="batch9.upcomingdevelopers.com.icare">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/i_care96"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewProfileActivity"
            android:label="View Profile"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".GeneralInfoActivity"
            android:label="Health Tips"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity"/>
        </activity>
        <activity
            android:name=".AddProfileActivity"
            android:label="Add Profile"
            android:parentActivityName=".ViewProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewProfileActivity"/>
        </activity>
        <activity
            android:name=".AddDietActivity"
            android:label="Add Diet"
            android:parentActivityName=".ViewDietChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewDietChartActivity"/>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="Dashboard"
            android:parentActivityName=".ViewProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewProfileActivity"/>
        </activity>
        <activity
            android:name=".ViewDietChartActivity"
            android:label="Diet Chart"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity"/>
        </activity>
        <activity
            android:name=".AddVaccinationActivity"
            android:label="Add Vaccination"
            android:parentActivityName=".ViewVaccinationChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewVaccinationChartActivity"/>
        </activity>
        <activity
            android:name=".AddMedicalHistoryActivity"
            android:label="Add Medical History"
            android:parentActivityName=".ViewMedicalHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewMedicalHistoryActivity"/>
        </activity>
        <activity
            android:name=".ViewVaccinationChartActivity"
            android:label="Vaccination Chart"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity"/>
        </activity>
        <activity
            android:name=".AddDoctorActivity"
            android:label="Add Doctors Info"
            android:parentActivityName=".ViewDoctorsChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewDoctorsChartActivity"/>
        </activity>
        <activity
            android:name=".ViewDoctorsChartActivity"
            android:label="View Doctors List"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity"/>
        </activity>
        <activity
            android:name=".UpdateDoctorActivity"
            android:label="Update Doctors Info"
            android:parentActivityName=".ViewDoctorsChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewDoctorsChartActivity"/>
        </activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:label="Update Profile"
            android:parentActivityName=".ViewProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewProfileActivity"/>
        </activity>
        <activity
            android:name=".UpdateDietActivity"
            android:label="Update Diet"
            android:parentActivityName=".ViewDietChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewDietChartActivity"/>
        </activity>
        <activity
            android:name=".UpdateVaccinationActivity"
            android:label="Update Vaccination"
            android:parentActivityName=".ViewVaccinationChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewVaccinationChartActivity"/>
        </activity>
        <activity
            android:name=".ViewMedicalHistoryActivity"
            android:label="Medical History"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity"/>
        </activity>
        <activity
            android:name=".UpdateMedicalHistoryActivity"
            android:label="Update Medical History"
            android:parentActivityName=".ViewMedicalHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewMedicalHistoryActivity"/>
        </activity>
        <activity
            android:name=".ViewHealthCentersActivity"
            android:label="Health Center"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity"/>
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".AlarmActivity"
            android:excludeFromRecents="true"
            android:label="iCare Alarm"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".ReminderActivity"
            android:excludeFromRecents="true"
            android:label="iCare Reminder"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".VaccinationReminderActivity"
            android:excludeFromRecents="true"
            android:label="iCare Vaccination"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api_old.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".ViewHealthCentersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewHealthCentersActivity"/>
        </activity>
    </application>

</manifest>
